<div class="container">
    <div class="main-heading">
      <div class="one">IT Support </div>
      <div class="two">at Your </div>
      <div class="three">Doorsteps</div>
    </div>
  
    <div class="fade">
      <div class="sub-heading">Providing Home and Business IT Solutions</div>
    </div>
  
    <div class="arrow fade">
      <div class="arrow-line" id="one"></div>
      <div class="arrow-line" id="two"></div>
      <div class="arrow-line" id="three"></div>
      <div class="arrow-img-container" id="four">
        <img class="arrow-img" src="assets/arrow.png">
      </div>
    </div>
  </div>