.container {
    padding: 5vw;
    padding-top: 0vw;
    background-image: url(../../assets/mesh-back.png);
    background-size: cover;
}

.service-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.5vw;
    row-gap: 6vw;
    flex-wrap: wrap;
}

.heading {
    font-size: 3.5vw;
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding-bottom: 5vw;
    padding-top: 3vw;
}

.service-tile {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    background-color: #ff497d21;
    border: none;
    border-radius: 10px;
}

.service-tile .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0.5s ease;
}

.service-tile .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-tile .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #FF497C;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    transition: bottom 0.5s ease, transform 0.5s ease;
}

.service-tile .description {
    position: absolute;
    bottom: -50%;
    width: 100%;
    background: none;
    color: white;
    text-align: center;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.service-tile:hover .image {
    top: -100%;
}

.service-tile:hover .title {
    bottom: 79%;
}

.service-tile:hover .description {
    bottom: 20%;
    opacity: 1;
}

@media screen and (max-width: 700px) {
   
    .heading {
        font-size: 8vw;
        padding-bottom: 8vw;
        padding-top: 10vw;
        text-align: center;
    }
  }