<div class="container">
    <!-- have an image and a title of the service when hovered over the dervice, the image should hide, title should come on the top and a little description should be shown under the title about the service -->
    
    <div class="heading">Services We Offer</div>

    <div class="service-container">

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Device Setup / Troubleshooting</div>
                <div class="description">"Troubleshooting or setting up new devices such as laptops, desktops, tablets & phone with all necessary configurations."</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/spam.jpg" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Spam & Virus Protection</div>
                <div class="description">"Detect and remove spam and virus to protect your device and personal information."</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/smart-home.jpg" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Smart Home Setup</div>
                <div class="description">"Installing and configuring smart device including voice assistants, smart lights, sensors, doorbells to ease your daily life."</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/printer-setup.jpg" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Printer Setup & Diagnostic</div>
                <div class="description">"Setting up and configuring your new printer for optimal use."</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

    </div>
</div>