<div class="container">
    <!-- have an image and a title of the service when hovered over the dervice, the image should hide, title should come on the top and a little description should be shown under the title about the service -->
    
    <div class="heading">Services We Offer</div>

    <div class="service-container">

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

        <div class="service-tile">
            <div class="image">
                <img src="../../assets/tech_support.png" alt="Service Image">
            </div>
            <div class="content">
                <div class="title">Service Title</div>
                <div class="description">This is the description of the service. It appears when the user hovers over the tile.</div>
            </div>
        </div>

    </div>
</div>