<div id="maindiv">
  <div id="mainheading-container">
    <h1 class="mainheading" id="w1">Discover </h1>
    <h1 class="mainheading">,</h1>
    <h1 class="mainheading" id="w2">Connect</h1>
    <h1 class="mainheading" id="and">and</h1>
    <h1 class="mainheading" id="w3">Thrive</h1>
  </div>
  <div class="fade">
    <h2 id="subheading">Unleashing the Potential of Your Digital Journey</h2>
  </div>
  <div class="end">
    <div class="service-tiles fade">
      <div class="service-tile" id="web-design">
        <div class="logo">
          <img class="service-tile-logo" src="assets/webDesign.png" />
        </div>
        <div class="svc">
          Website Design
        </div>
      </div>
      <div class="service-tile" id="web-design">
        <div class="logo">
          <img class="service-tile-logo" src="assets/seo.png" />
        </div>
        <div class="svc">
          SEO Services
        </div>
      </div>
      <div class="service-tile" id="marketing-div">
        <div class="logo">
          <img class="service-tile-logo" id="marketing-logo" src="assets/marketing.png" />
        </div>
        <div class="svc">
          Marketing
        </div>
      </div>
      <div class="service-tile" id="web-design">
        <div class="logo">
          <img class="service-tile-logo" src="assets/ecom.png" />
        </div>
        <div class="svc">
          Ecommerce
        </div>
      </div>
      <!-- <app-service-tile></app-service-tile> -->
    </div>
    <div class="dotted-line fade">
      <div class="dot" id="one"></div>
      <div class="dot" id="two"></div>
      <div class="dot" id="three"></div>
      <div class="arrow" id="four"> 
        <img class="arrow-img" src="assets/arrow.png" />
      </div>
    </div>

  </div>
</div>