<div class="container">
  <div class="main-heading">
    <div class="one">Discover, </div>
    <div class="two">Connect, </div>
    <div class="three">and Thrive</div>
  </div>

  <div class="fade">
    <div class="sub-heading">Unleashing the Potential of Your Digital Journey</div>
  </div>

  <div class="service-tiles fade">

    <div class="service-tile">

      <div class="svc-img-container">
        <img class="svc-img" src="assets/webDesign.png">
      </div>
      <div class="svc-title">Web Design</div>

    </div>

    <div class="service-tile">

      <div class="svc-img-container">
        <img class="svc-img" src="assets/seo.png">
      </div>
      <div class="svc-title">SEO Services</div>

    </div>

    <div class="service-tile">

      <div class="svc-img-container">
        <img class="svc-img" src="assets/marketing.png">
      </div>
      <div class="svc-title">Marketing</div>

    </div>

    <div class="service-tile">

      <div class="svc-img-container">
        <img class="svc-img" src="assets/ecom.png">
      </div>
      <div class="svc-title">Ecommerce</div>

    </div>

  </div>

  <div class="arrow fade">
    <div class="arrow-line" id="one"></div>
    <div class="arrow-line" id="two"></div>
    <div class="arrow-line" id="three"></div>
    <div class="arrow-img-container" id="four">
      <img class="arrow-img" src="assets/arrow.png">
    </div>
  </div>
</div>