<app-why-me class="parallax"></app-why-me>
<div class="why-me-info">
  <div class="heading">
    Why Work With Me
  </div>
  <div class="sub-heading">
    Web &#160; • &#160; Marketing &#160; • &#160; Design
  </div>
  <div class="line"></div>
  <div class="content">
    <div class="txt">
      At Ketweb, we serve our clients with the best of our abilities. Highly skilled and experienced professional who is dedicated to providing the best services to our clients. With full commitment, dedication and transparency, we are here to serve you.
    </div>
    <div class="visuals">
      <div class="vis-containers">
        <div class="num">7<div class="plus">+</div></div>
        <div class="vis-txt">Years of Experience</div>
      </div>
      <div class="vis-containers">
        <div class="num">50<div class="plus">+</div></div>
        <div class="vis-txt">Successful Projects Delivered</div>
      </div>
      <div class="vis-containers">
        <div class="num">30<div class="plus">+</div></div>
        <div class="vis-txt">Satisfied Clients</div>
      </div>
    </div>
  </div>
</div>
<app-introwave class="intro"></app-introwave>
<app-about-me class="about"></app-about-me>
<app-parallax-window class="parallax-window"></app-parallax-window>
<app-services class="services"></app-services>
<app-contact-block class="contact"></app-contact-block>