@keyframes transitionIn {

  from {
    opacity: 0.5;
    transform: translateY(-100px);

  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5vw;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  animation: transitionIn 1.5s;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 270px;
  margin-left: 20px;
}

.logo-image {
  height: 70px;
  width: 270px;
  transition: all 0.6s ease; /* Add a transition effect for smooth resizing */
}

.options-button {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.line {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 2px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 1vw;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-size: 1.2vw;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li:first-child {
  margin-left: 0;
}

.call{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5vw;
  align-items: center;
}

.call-info{
  color: white;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.mnu{
  background-color: white;
  font-size: 1.5vw;
  cursor: pointer;
}

.value{
  color: white;
  text-decoration: none;
}

.call-label{
  background-color: white;
  color: #324b7f;
  padding: 0px 30px;
  border: none;
  font-weight: bold;
  border-radius: 20px;
}

.call-icon{
  background-color: white;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
}

.call-image{
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 970px) {
  .nav-links {
    display: none; /* Hide the nav links */
  }
}

/* Media query for smaller screen widths */
@media screen and (max-width: 700px) {

  .call {
    display: none; /* Hide the call button */
  }

  .logo-image {
    height: 70px;
    max-width: 250px; /* Decrease the logo size */
  }
}
