body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 30px;
}

.logo {
  /* background: url(logo2.png); */
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: pointer;
  height: 40px;
  width: 240px;
  margin-left: 20px;
}

.logo-image {
  height: 95px;
  width: 270px;
  transition: all 0.6s ease; /* Add a transition effect for smooth resizing */
}

.options-button {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.line {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 2px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li:first-child {
  margin-left: 0;
}

/* Media query for smaller screen widths */
@media screen and (max-width: 550px) {
  .nav-links {
    display: none; /* Hide the nav links */
  }

  .logo-image {
    height: 70px;
    max-width: 250px; /* Decrease the logo size */
  }
}
