app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

app-introwave {
  margin-top: 60px;
}

body {
  padding-top: 60px;
}

div{
  height: 800px;
}

/* The div after app-introwave does not have a z-index set, so it will appear below app-introwave by default */
