<div class="container">

    <div class="section">
        <div class="heading bold">Let's Talk.</div>
        <div class="bar"></div>
        <div class="sub-heading">CONTACT DETAILS</div>

        <div class="con-content">

            <div class="content-block">
                <div class="title">Phone:</div>
                <div class="value"><a class="value" href="tel:16725151210">+1 (672) 515-1210</a></div>
            </div>

            <div class="content-block">
                <div class="title">Email:</div>
                <div class="value"><a class="value" href="mailto:ketan@ketweb.ca">ketan@ketweb.ca</a></div>
            </div>

            <div class="content-block">
                <div class="title">Web:</div>
                <div class="value"><a class="value" href="https://ketweb.ca">ketweb.ca</a></div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="heading bold">Connect.</div>
        <div class="bar"></div>
        <div class="sub-heading">SOCIAL PRESENCE</div>

        <div class="soc-content">
            <div class="soc-img"><a href="https://www.instagram.com/ketwebstudio/" target="_blank"><img class="img" src="../../assets/logo-instagram.png" alt="IG"></a></div>
            <div class="soc-img"><a href="https://www.facebook.com/profile.php?id=61559853054653&mibextid=LQQJ4d" target="_blank"><img class="img" src="../../assets/logo-facebook.png" alt="FB"></a></div>
            <div class="soc-img"><a href="https://twitter.com/KetwebStudio" target="_blank"><img class="img" src="../../assets/logo-twitter.png" alt="TWITTER"></a></div>
            <div class="soc-img"><a href="mailto:ketan@ketweb.ca" target="_blank"><img class="img" src="../../assets/mail-open-outline.png" alt="E-MAIL"></a></div>
        </div>
    </div>

    <div class="section">
        <div class="heading bold">Find Me.</div>
        <div class="bar"></div>
        <div class="sub-heading">ADDRESS</div>

        <div class="add-content">31465 Springhill Pl.</div>
        <div class="add-content">Abbotsford, BC. V2T 4K1</div>
    </div>

</div>