<div class="container">

  <div class="service-tab">

    <div class="svc-img">
      <img src="../../assets/web-design.png" class="svc-img" alt="Web Design">
    </div>

    <div class="svc-desc">
      <div class="svc-title"><div class="bold">Full Service</div> Web Design</div>
      <div class="svc-content">
        Elevate your online presence with Ketweb's comprehensive suite of web design and development services. From inception to completion, we guide you through every phase of your website project, offering expertise in domain name selection, secure hosting, captivating design, meticulous development, and ongoing maintenance. Entrust your website needs to us, and let Ketweb transform your digital vision into a stunning and seamlessly functioning reality, accessible and engaging on desktops, tablets, and smartphones alike.
      </div>
    </div>

  </div>

  <div class="service-tab">

    <div class="svc-desc">
      <div class="svc-title"><div class="bold">Result Driven</div> SEO Services</div>
      <div class="svc-content">
        Boost your online presence with Ketweb's dynamic SEO solutions. We focus on creating visually compelling and seamlessly functional websites while ensuring high visibility on search engine results. Through meticulous keyword research and strategic optimization, we craft tailored strategies to amplify your digital footprint, implementing cutting-edge techniques to propel your site to the forefront of relevant searches. Choose Ketweb for captivating web design and discoverability, ensuring your digital presence resonates powerfully with your target audience.</div>
    </div>
    
    <div class="svc-img">
      <img src="../../assets/seo-svc.jpg" class="svc-img" alt="Web Design">
    </div>
    
  </div>

  <div class="service-tab">

    <div class="svc-img">
      <img src="../../assets/svc-mark.jpg" class="svc-img" alt="Web Design">
    </div>

    <div class="svc-desc">
      <div class="svc-title"><div class="bold">Personalized</div> Marketing Stratergy</div>
      <div class="svc-content">
        Amplify your brand's reach with Ketweb's comprehensive marketing services. We go beyond just crafting visually appealing and functional websites, dedicating ourselves to enhancing your online visibility. From strategic social media campaigns to targeted email marketing, we strategize to elevate your brand in the digital landscape. With a focus on meticulous planning and innovative methodologies, we ensure your brand stands out amidst the digital noise. Opt for Ketweb for all your marketing needs, where we propel your brand's online presence, resonating powerfully with your target audience.</div>
    </div>
    
  </div>

  <div class="service-tab">

    
    <div class="svc-desc">
      <div class="svc-title"><div class="bold">Distinctive</div> Ecommerce Solutions</div>
      <div class="svc-content">Elevate your digital retail experience with Ketweb's tailored ecommerce solutions. Beyond crafting visually captivating and seamlessly functional online stores, we're committed to optimizing your digital storefront for maximum impact. From robust payment gateways to user-friendly interfaces, Ketweb customizes strategies to enhance your ecommerce venture. Choose Ketweb for your ecommerce needs, where we don't just design digital storefronts but empower your brand to thrive in the competitive online marketplace.</div>
    </div>

    <div class="svc-img">
      <img src="../../assets/svc-ecom.jpg" class="svc-img" alt="Web Design">
    </div>
    
  </div>

</div>
